.desktop-5,
.desktop-5 * {
  box-sizing: border-box;
}
.desktop-5 {
  background: rgba(0, 71, 255, 0.28);
  height: 4096px;
  position: relative;
  overflow: hidden;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.home {
  color: #ff0000;
  text-align: left;
  font-family: "InknutAntiqua-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  right: 50%;
  left: 42.15%;
  width: 7.85%;
  bottom: 95.75%;
  top: 1.95%;
  height: 2.29%;
}
.about-me {
  width: 165px;
  height: 71px;
  position: absolute;
  left: 746px;
  top: 80px;
}
.about-me2 {
  color: #000000;
  text-align: left;
  font-family: "InknutAntiqua-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.works {
  color: #000000;
  text-align: left;
  font-family: "InknutAntiqua-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  right: 23.06%;
  left: 66.94%;
  width: 10%;
  bottom: 96.31%;
  top: 1.95%;
  height: 1.73%;
}
.contacts {
  color: #000000;
  text-align: left;
  font-family: "InknutAntiqua-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  right: 8.33%;
  left: 79.51%;
  width: 12.15%;
  bottom: 96.31%;
  top: 1.95%;
  height: 1.73%;
}
.h-ello-i-am {
  width: 148px;
  height: 76px;
  position: absolute;
  left: 79px;
  top: 151px;
}
.bsit-3-b {
  color: #000000;
  text-align: left;
  font-family: "IrishGrover-Regular", sans-serif;
  font-size: 50px;
  font-weight: 400;
  position: absolute;
  right: -122.97%;
  left: 21.62%;
  width: 201.35%;
  bottom: -439.47%;
  top: 439.47%;
  height: 100%;
}
.lynch-ayen-m-pantinople {
  color: #ff0000;
  text-align: left;
  font-family: "IrishGrover-Regular", sans-serif;
  font-size: 50px;
  font-weight: 400;
  position: absolute;
  right: -122.97%;
  left: -12.84%;
  width: 235.81%;
  bottom: -301.32%;
  top: 234.21%;
  height: 167.11%;
}
.hello-i-am {
  color: #000000;
  text-align: left;
  font-family: "IrishGrover-Regular", sans-serif;
  font-size: 50px;
  font-weight: 400;
  position: absolute;
  right: 73.33%;
  left: 5.97%;
  width: 20.69%;
  bottom: 86.72%;
  top: 5.86%;
  height: 7.42%;
}
.ellipse-4 {
  border-radius: 50%;
  width: 538px;
  height: 534px;
  position: absolute;
  left: 649px;
  top: 189px;
  object-fit: cover;
}
.i-enjoy-taking-complex-problem-and-turning-them-into-simple-and-beautiful-design-and-i-also-love-the-logic-and-structure-of-coding-and-always-strive-to-write-elegant-and-efficient-code-when-i-m-not-coding-you-will-find-me-at-the-gym-or-on-basketball-court {
  color: #ff0000;
  text-align: left;
  font-family: "Itim-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 936px;
  top: 1152px;
  width: 359px;
  height: 172px;
}
.group-8 {
  position: absolute;
  inset: 0;
}
.home2 {
  color: #000000;
  text-align: left;
  font-family: "InknutAntiqua-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  right: 57.64%;
  left: 36.6%;
  width: 5.76%;
  bottom: 71.12%;
  top: 25.34%;
  height: 3.54%;
}
.about-me3 {
  color: #ff0000;
  text-align: left;
  font-family: "InknutAntiqua-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  right: 43.68%;
  left: 46.25%;
  width: 10.07%;
  bottom: 70.46%;
  top: 25.34%;
  height: 4.2%;
}
.works2 {
  color: #000000;
  text-align: left;
  font-family: "InknutAntiqua-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  right: 28.33%;
  left: 62.15%;
  width: 9.51%;
  bottom: 72.88%;
  top: 25.34%;
  height: 1.78%;
}
.contacts2 {
  color: #000000;
  text-align: left;
  font-family: "InknutAntiqua-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  right: 12.85%;
  left: 76.94%;
  width: 10.21%;
  bottom: 70.56%;
  top: 25.34%;
  height: 4.1%;
}
._428047755-831843972081300-8935203897131944546-n-removebg-preview-2 {
  width: 246px;
  height: 758px;
  position: absolute;
  left: 163px;
  top: 1210px;
  object-fit: cover;
}
.group-6 {
  width: 407px;
  height: 55px;
  position: static;
}
.group-5 {
  width: 407px;
  height: 55px;
  position: static;
}
.i-am {
  width: 44px;
  height: 26px;
  position: absolute;
  left: 615px;
  top: 1406px;
}
.lynch {
  color: #ff0000;
  text-align: left;
  font-family: "IrishGrover-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  right: -86.31%;
  left: 0%;
  width: 186.31%;
  bottom: -75.82%;
  top: 1.47%;
  height: 174.35%;
  transform-origin: 0 0;
  transform: rotate(-0.033deg) scale(1, 1);
}
.i-am2 {
  width: 44px;
  height: 26px;
  position: absolute;
  left: 788px;
  top: 1406px;
}
.you-can-call-me {
  color: #ffffff;
  text-align: left;
  font-family: "IrishGrover-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 425px;
  top: 1406px;
  width: 190px;
  height: 55px;
}
.or {
  color: #ffffff;
  text-align: left;
  font-family: "IrishGrover-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 714px;
  top: 1408px;
  width: 53px;
  height: 35px;
}
.and-i-m-a-student-from {
  color: #ffffff;
  text-align: left;
  font-family: "IrishGrover-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 421px;
  top: 1441px;
  width: 394px;
  height: 61px;
}
.bsit {
  color: #ff0000;
  text-align: left;
  font-family: "IrishGrover-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 540px;
  top: 1441px;
  width: 88px;
  height: 33px;
}
.dalubhasaan-ng-lungsod-ng-lucena {
  color: #ff0000;
  text-align: left;
  font-family: "IrishGrover-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 421px;
  top: 1478px;
  width: 490px;
  height: 47px;
}
.group-2 {
  position: absolute;
  inset: 0;
}
.home3 {
  color: #000000;
  text-align: left;
  font-family: "InknutAntiqua-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  right: 54.72%;
  left: 39.51%;
  width: 5.76%;
  bottom: 46.46%;
  top: 50%;
  height: 3.54%;
}
.about-me4 {
  color: #000000;
  text-align: left;
  font-family: "InknutAntiqua-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  right: 40.76%;
  left: 49.17%;
  width: 10.07%;
  bottom: 45.8%;
  top: 50%;
  height: 4.2%;
}
.works3 {
  color: #ff0000;
  text-align: left;
  font-family: "InknutAntiqua-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  right: 24.72%;
  left: 65.07%;
  width: 10.21%;
  bottom: 45.9%;
  top: 50%;
  height: 4.1%;
}
.contacts3 {
  color: #000000;
  text-align: left;
  font-family: "InknutAntiqua-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  right: 9.93%;
  left: 79.86%;
  width: 10.21%;
  bottom: 45.9%;
  top: 50%;
  height: 4.1%;
}
.group-9 {
  position: absolute;
  inset: 0;
}
.home4 {
  color: #000000;
  text-align: left;
  font-family: "InknutAntiqua-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  right: 54.44%;
  left: 39.79%;
  width: 5.76%;
  bottom: 18.6%;
  top: 77.86%;
  height: 3.54%;
}
.about-me5 {
  color: #000000;
  text-align: left;
  font-family: "InknutAntiqua-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  right: 40.49%;
  left: 49.44%;
  width: 10.07%;
  bottom: 17.94%;
  top: 77.86%;
  height: 4.2%;
}
.works4 {
  color: #000000;
  text-align: left;
  font-family: "InknutAntiqua-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  right: 24.44%;
  left: 65.35%;
  width: 10.21%;
  bottom: 18.04%;
  top: 77.86%;
  height: 4.1%;
}
.contacts4 {
  color: #ff0000;
  text-align: left;
  font-family: "InknutAntiqua-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  right: 9.65%;
  left: 80.14%;
  width: 10.21%;
  bottom: 18.04%;
  top: 77.86%;
  height: 4.1%;
}
.rectangle-6 {
  width: 513px;
  height: 339px;
  position: absolute;
  left: 114px;
  top: 2202px;
  object-fit: cover;
}
.rectangle-7 {
  width: 513px;
  height: 339px;
  position: absolute;
  left: 114px;
  top: 2655px;
  object-fit: cover;
}
.rectangle-8 {
  width: 513px;
  height: 339px;
  position: absolute;
  left: 812px;
  top: 2655px;
  object-fit: cover;
}
.rectangle-9 {
  width: 513px;
  height: 339px;
  position: absolute;
  left: 812px;
  top: 2202px;
  object-fit: cover;
}
.works5 {
  color: #ff0000;
  text-align: center;
  font-family: "InknutAntiqua-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 524px;
  top: 2492px;
  width: 432px;
  height: 129px;
}
.group-82 {
  width: 311px;
  height: 72px;
  position: absolute;
  left: 108px;
  top: 651px;
}
.group-83 {
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.group-8-default {
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.group-4 {
  position: absolute;
  inset: 0;
}
.rectangle-1 {
  background: #ff0000;
  border-radius: 15px;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.download-cv {
  position: absolute;
  right: 1.93%;
  left: 6.75%;
  width: 91.32%;
  bottom: 9.72%;
  top: 16.67%;
  height: 73.61%;
}
.download-cv2 {
  color: #000000;
  text-align: left;
  font-family: "IstokWeb-Bold", sans-serif;
  font-size: 35px;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
